* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-toggler {
    visibility: hidden;
}


@media screen and (max-width:490px) {
    .container-fluid {
        visibility: hidden;
    }

    .navbar-toggler {
        visibility: visible;
    }

}