* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(211, 186, 159));

}


#homeSection{
    margin-top: 6%;
    padding: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#homeSection img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 10px 15px rgb(85, 210, 245);
    transition: 0.2s ease-in-out;
}

img:hover {
    transform: scale(0.8);
}

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-links a {
    margin: 10px 15px;
    font-size: 30px;
    transition: 0.4s;
}

.social-links a:hover {
    transform: scale(0.9);
    color: black;
}


span {
    color: rgb(109, 67, 0);
    text-shadow: 0 0 10px rgb(100, 60, 60);
}

.typewriter {
    font-weight: 600;
    font-size: 1.6rem;
}

.typewriter span {
    color: rgb(109, 67, 0);
    text-shadow: 0 0 10px rgb(100, 60, 60);
    position: relative;
    font-size: 1.7rem;
    transition: 0.3s linear;
}

.typewriter span::before {
    content: "Devellopeur Web";
    animation: words 6s infinite;
}

.typewriter span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 3px solid black;
    animation: cursor 0.6s linear infinite;
}

.navbar-toggler {
    visibility: hidden;
}


#aboutSection
{
    margin-top: 6%;
    padding: 10%;
    display: none;
}

#seeCvSection
{
    margin-top: 6%;
    padding: 10%;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#contactSection
{
    width: 100%;
    margin-top: 6%;
    padding: 10%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    
}

#contactSection h2
{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px rgb(49, 46, 46);
    letter-spacing: 3px;
}

#formulaire input
{
 width: 100%;
 border: none;
 border-radius: 6px;
 padding: 20px;
}

#sucessMessage
{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#sucessMessage button
{
    text-decoration: none;
    font-weight: 600;
    background-color: rgb(10, 46, 10);
    color: white;
    padding: 20px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 10px rgb(43, 180, 243);
    transition: 0.4s ease-in-out;
}

#sucessMessage button:hover
{
    box-shadow: 0 0 10px red;
    transform: scale(0.8);
}


@keyframes cursor {
    to {
        border-left: 3px solid rgb(179, 129, 65);
    }

}

@keyframes words {

    0%,
    33% {
        content: "Devellopeur Web";
    }

    34%,
    66% {
        content: "Mathematicien";
    }

    67%,
    100% {
        content: "Statisticien";
    }

}


@media screen and (max-width:520px) {
    .container-fluid {
        visibility: hidden;
    }

    .navbar-toggler {
        visibility: visible;
    }

    body {
        font-size: 10px;
    }

    .typewriter span {
        font-size: 0.8rem;
    }

    .typewriter {
        font-size: 1rem;
    }

    h1 span {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.8rem;
        align-self: center;
    }


    img {
        margin-top: 60px;
    }

    #contactSection, #seeCvSection, #aboutSection{
        margin-top: 30%;
    }

}

@media screen and (max-width:700px) {
    img {
        width: 200px;
        height: 200px;
        margin-top: 60px;
    }

    section {
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }


}